@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Ramabhadra&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topTeamSection {
  background-color: #231F20;
  color: white;
  height: 100vh;
  position: relative;
  overflow: scroll;
}

.team{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .teamMember{
  background: #fff;
  margin: 5px;
  margin-bottom: 70px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .teamMember h3{
  color: #00AEEF;
  font-size: 26px;
  margin-top: 50px;
}

.team .teamMember p.role{
  color: #413F42;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .teamMember .teamPic{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .teamMember .teamPic img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}