//para las paginas
$background-white: #d1cfe2;
$background-grey: #fafafa;
//bordes de las historias
$gradient-one: #d4afb9;
$gradient-two: #9cadce;
$gradient-three: #7ec4cf;
$gradient-four: #daeaf6;
//fuentes
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
//bordes
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
//botones
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
//fuente
$font: "Montserrat", sans-serif; // instead of Proxima Nova